<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Mart | About Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(181, 226, 211);
        }

        header,
        main,
        footer {
            text-align: center;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #ccc;
        }

       
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            margin: 10px;
            padding: 13px;
            margin-bottom: 40px;
        }

        h1 {
            font-size: 2em;
            margin: 0;
        }

        nav {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline-block;
            margin-right: 10px;
            padding: 10px;
        }

        nav li a {
            text-decoration: none;
            color: #1e66d1e1;
        }

        nav li.active a {
            font-weight: bold;
        }

        /* img
        {
            margin-left: 100px;
            padding: 0px;
        } */

      
        main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        section {
            margin-left: 30px;
            margin-bottom: 20px;
            width: calc(100% / 3 - 30px);
            
        }

        h4
        {
            color: blue;
            text-align: center;
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
            margin:0px;
            padding:0px;
        }

        p {
            line-height: 1.5;
        }

        .team {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .team-member {
            text-align: center;
            margin-bottom: 20px;
            width: calc(100% / 2);
        }

    </style>
</head>

<body style="background-image: url(https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=600);">
    <div class="container-fluid">
        <header>
            <h1><b style="color: blue;"><i>My Mart</i></b></h1>
            
        </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="text-align: justify;">
                        <h4><b></b></h4>
                        <p><i><b> Ecommerce website designs have evolved so much, it can be hard to keep up. These websites didn't just keep up though - they are the ones pushing the boundaries!
                            Ecommerce. It’s grown to be such a big presence all around the internet, and in all of our lives. More and more, stores are investing a great deal of resources into moving their business online, with the promise of reaching a bigger audience. But what makes a good ecommerce website
                            Ecommerce website designs have evolved so much, it can be hard to keep up. These websites didn't just keep up though - they are the ones pushing the boundaries!
                            Ecommerce. It’s grown to be such a big presence all around the internet, and in all of our lives. More and more, stores are investing a great deal of resources into moving their business online, with the promise of reaching a bigger audience. But what makes a good ecommerce website</b></i></p>
                    </div>
                </div>
                <div class="col">
                    <img class="sai" src="https://media.istockphoto.com/id/1271390356/photo/shopping-basket-with-indian-rupees-money-around-food-products-vegetables-and-fruits-the.jpg?b=1&s=612x612&w=0&k=20&c=Zk7Bo59mLo6sWNFDV11NovNaL_zi9KKCeUUPws9MZ2I=" width="600" height="400"
                        alt="Team Member 1">
                </div>
            </div>
<div class="row" style="padding-top: 60px;"><br><br>
                <div class="col">
                    <img src="https://cdn.pixabay.com/photo/2016/03/02/20/13/grocery-1232944_640.jpg" width="600" height="400"
                        alt="Team Member 1">
                </div>
                <div class="col">
                    <div style="text-align: justify;">
                        <p><i><b>“my mart” business was doing well, however the growth from one branch to multiple
                                branches was not being supported by strong processes which represented a challenge to
                                the sustainability and limited further growth and profitability of the business.
                                Eng.  of items on the shelves. The
                                starting point of the “my mart’s” Lean journey was the need to sustain such a complex
                                product portfolio through flexible procurement while minimizing the cost of inventory.

                                When Eng. Abdulsalam was asked to support the management of “my mart” he found it to
                                have excess, slow moving inventory (40% of it were items with stock coverage above 6
                                months’ worth of sales). A second challenge was represented by broken buying processes
                                and an unclear procurement strategy (the supply base was composed by 480 suppliers,
                                broken down to an average of 11 suppliers per product family).</b></i></p>
                    </div>
                </div>
            </div><br><br>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="text-align: justify;">
                        <p><i><b>The results achieved by the “my mart” project team were impressive. One of the most
                                difficult challenges was re-structuring the in re-designing their processes from the
                                first day and their resistance to change was dealt with immediately. Eventually the
                                buying team understood that the new Lean processes would make their life easier and felt
                                a sense of ownership since they were fully involved in building those processes from the
                                beginning. A substantial amount of effort was also required to review the allocation of
                                products to suppliers in order to enable the supply base reduction. However, the team
                                understood that this would have eventually led to a lower workload once the supply base
                                was simplified and were thus motivated to carry on the review.</b></i></p>
                    </div>
                </div>
                <div class="col">
                    <img class="sai" src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=600" width="600" height="400"
                        alt="Team Member 1">
                </div>
            </div>
        </div><br><br><br>

       
           
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div style="text-align: justify;">
                            <h4><b></b></h4>
                            <p><i><b>Ecommerce website designs have evolved so much, it can be hard to keep up. These websites didn't just keep up though - they are the ones pushing the boundaries! Ecommerce. It’s grown to be such a big presence all around the internet, and in all of our lives. More and more, stores are investing a great deal of resources into moving their business online, with the promise of reaching a bigger audience. But what makes a good ecommerce website Ecommerce website designs have evolved so much, it can be hard to keep up. These websites didn't just keep up though - they are the ones pushing the boundaries! Ecommerce. It’s grown to be such a big presence all around the internet, and in all of our lives. More and more, stores are investing a great deal of resources into moving their business online, with the promise of reaching a bigger audience. But what makes a good ecommerce website

                                .</b></i></p>
                        </div>
                    </div>
                    <div class="col">
                        <img class="sai" src="https://images.pexels.com/photos/230544/pexels-photo-230544.jpeg?auto=compress&cs=tinysrgb&w=600" width="600" height="400"
                            alt="Team Member 1">
                    </div>
                </div>
    <div class="row" style="padding-top: 60px;"><br><br>
                    <div class="col">
                        <img src="https://images.pexels.com/photos/3962285/pexels-photo-3962285.jpeg?auto=compress&cs=tinysrgb&w=600" width="600" height="400"
                            alt="Team Member 1">
                    </div>
                    <div class="col">
                        <h4><b>What We Offer</b></h4>
                        <div style="text-align: justify;">
                            <p><i><b>“my mart” business was doing well, however the growth from one branch to multiple
                                    branches was not being supported by strong processes which represented a challenge to
                                    the sustainability and limited further growth and profitability of the business.
                                    Eng.  of items on the shelves. The
                                    starting point of the “my mart’s” Lean journey was the need to sustain such a complex
                                    product portfolio through flexible procurement while minimizing the cost of inventory.
    
                                    When Eng. Abdulsalam was asked to support the management of “my mart” he found it to
                                    have excess, slow moving inventory (40% of it were items with stock coverage above 6
                                    months’ worth of sales). A second challenge was represented by broken buying processes
                                    and an unclear procurement strategy (the supply base was composed by 480 suppliers,
                                    broken down to an average of 11 suppliers per product family).</b></i></p>
                        </div>
                    </div>
                </div><br><br>
            
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div style="text-align: justify;">
                            <h4><b>Features Mart</b></h4>
                            <p><i><b>The results achieved by the “my mart” project team were impressive. One of the most
                                    difficult challenges was re-structuring the in re-designing their processes from the
                                    first day and their resistance to change was dealt with immediately. Eventually the
                                    buying team understood that the new Lean processes would make their life easier and felt
                                    a sense of ownership since they were fully involved in building those processes from the
                                    beginning. A substantial amount of effort was also required to review the allocation of
                                    products to suppliers in order to enable the supply base reduction. However, the team
                                    understood that this would have eventually led to a lower workload once the supply base
                                    was simplified and were thus motivated to carry on the review.</b></i></p>
                        </div>
                    </div>
                    <div class="col">
                        <img class="sai" src="https://cdn.pixabay.com/photo/2015/09/21/14/24/supermarket-949913_640.jpg" width="600" height="400"
                            alt="Team Member 1">
                    </div>
                </div>
        <footer>
            <p>&copy; <b> My Mart 2024 </b></p>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
        </footer>
    </div>
</body>

</html>